<div class="main">
  <button (click)="goBack()">GO BACK</button>
  <div class="game"> 
    <div class="dice">
      <app-player-dice (select)="setScore($event)" class="player-dice"></app-player-dice>
      <app-player-dice class="player-dice"></app-player-dice>
      <button (click)="saveGame()">Save Game</button>
      <app-games-list></app-games-list>
    </div>
    <div class="player1 player">
      <app-player [name]="'You'" [score]="score1"></app-player>
    </div>
    <div class="player2 player">
      <app-player [name]="player2" [score]="score2"></app-player>
    </div>
  </div>
</div>

