.gameList {
    
    width: 90%;
    margin-bottom: 1em;
}
span {
    color:brown;
}


table {
    border: 1px solid brown;
}
table th {
    background-color: brown;
    color: white;
    text-align: center;
    padding: 10px;
}
table td {
    width: 10em;
    color: brown;
    border: 1px dotted brown;
    word-break: break-all;
}