.login{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1em;
    margin-top: 1em;
    background-color:burlywood;
    border-radius:0.5em;
}
form{
    background-color:lightsalmon;
    padding: 1em;
    color: brown;
    margin-bottom: 2em;
}
h2{
    color: brown;
}