.user-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1em;
    margin-top: 1em;
    background-color:burlywood;
    border-radius:0.5em;
}

span {
    color:brown;
}
li {
    color:brown;
    list-style-type: none;
    margin-bottom: 1em;
}